.selector-for-some-widget {
  box-sizing: content-box;
}

.painel{
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-blue{
  border-top: 3px solid #17a2b8;
  color: white;
  background-color: white;
  height: 4px;
}

.logo-nav{
  height: 35px;
}

.border-vert{
  border-left: 2px solid #dee2e6;
}

.dropdown-menu{
  left: unset;
  right: 0;
}

.tabela{
  text-align: center;
}

.divi-header span {
  width: 1px;
  background-color: #dee2e6;
}